:root {
  --brandfont: "BRAND";
  --brandfarge: yellow;
  --brandfarge2: #e30613;
}

@font-face {
  font-family: "BRAND";
  src: url("assets/BionixFat-vnmEM.woff") format("woff");
  /* Add more src lines if you have different font file formats */
}

body {
  background-color: var(--brandfarge);
  font-family: monospace;
  padding: 0;
  margin: 20px;
  overflow: hidden;
  max-height: 100vh;
}

.digdir {
  background-color: var(--brandfarge2);
  overflow-y: visible;
  min-height: 100vh;
}

h2 {
  font-weight: 800 !important;
  font-size: 16px;
  letter-spacing: 2px;
  margin-top: 24px !important;
  margin-bottom: 4px;
  text-transform: uppercase;
}

.logo-wrapper img {
  width: 100%;
  margin-bottom: 20px;
}

.logo-wrapper-single img {
  width: 100px;
  margin-bottom: 20px;
}

.logo-wrapper-single a:before {
  content: "";
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0px;
}

.column {
  flex: 1;
  min-width: 200px; /* Ensures columns don't get too narrow */
}

.column h2 {
  margin-top: 0;
}

a {
  text-decoration-style: dashed;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
  color: inherit;
  transition: 0.4s;
  position: relative; /* Necessary for the pseudo-element positioning */
}

a:hover {
  color: blue;
}

a:before {
  content: "→";
  display: inline-block;
  transform: scale(0);
  transition: transform 0.3s ease;
  position: absolute;
  left: -1.2em; /* Adjust this value to position the arrow as needed */
}
a:hover:before {
  transform: scale(1.5);
  transition: transform 0.3s ease;
}

a:active:before {
  margin-left: 10px;
  transition: 0.3s ease;
}

p {
  padding: 0;
  margin-bottom: 8px !important;
  margin: 0;
  font-size: 1.6em;
  line-height: 1.2em;
}

span {
  font-size: 1.6em;
}

.bio {
  font-size: 2.6em;
  line-height: 1.2em;
}

.project {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 8px;
}

.category {
  outline: 1px solid black;
  padding: 4px 8px;
  border-radius: 400px;
}

.fade-in-left {
  -webkit-animation: fade-in-left 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-left 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.fade-in-right {
  -webkit-animation: fade-in-right 1s cubic-bezier(0.39, 0.575, 0.565, 1) 0.5s
    both;
  animation: fade-in-right 1s cubic-bezier(0.39, 0.575, 0.565, 1) 0.5s both;
}

@-webkit-keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.barcode img {
  position: fixed;
  right: 10px;
  bottom: 10px;
  cursor: none;
  width: 100px;
  transition: 0.6s ease;
}

.footer {
  position: fixed;
  left: 10px;
  bottom: 10px;
  cursor: none;
  width: 150px;
  transition: 0.6s ease;
  padding: 0;
  margin: 0;
}

.barcode img:hover {
  rotate: 7deg;
}

* {
  cursor: url("assets/cursor.svg") 0 0, auto !important;
  transition: transform 0.3s ease, mix-blend-mode 0.3s ease;
}

.logo-wrapper img:hover {
  opacity: 0.5;
  transition: 0.5s ease-in-out;
}

.logo-wrapper img {
  transition: 0.5s ease-in-out;
}

.logo-wrapper-single img:hover {
  opacity: 0.5;
  transition: 0.5s ease-in-out;
}

.logo-wrapper-single img {
  transition: 0.5s ease-in-out;
}

.wrapper {
  width: 100%;
}

.wrapper img {
  width: 100%;
  margin-top: 48px;
  margin-bottom: 48px;
  outline: 1px solid black;
}

.wrapper-right {
  display: flex;
  justify-content: flex-end;
}

.wrapper-right img {
  width: 60%;
  text-align: right;
  margin-top: 48px;
  margin-bottom: 48px;
  outline: 1px solid black;
}

.wrapper-left {
  display: flex;
  justify-content: flex-start;
}

.wrapper-left img {
  width: 60%;
  text-align: right;
  margin-top: 48px;
  margin-bottom: 48px;
  outline: 1px solid black;
}

.intro-column {
  min-width: 700px!important;
}


@media (max-width: 1200px) {
  .wrapper img {
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .intro-column {
    min-width: unset!important;
  }
  

  .column {
    flex: 1 1 50%;
    min-width: auto;
  }

  body {
    overflow-y: visible;
  }

  .fade-in-right {
    -webkit-animation: fade-in-right 0.8s cubic-bezier(0.39, 0.575, 0.565, 1)
      0.3s both;
    animation: fade-in-right 0.8s cubic-bezier(0.39, 0.575, 0.565, 1) 0.3s both;
  }

  .footer {
    display: none;
  }

  p a {
    font-size: 18px !important;
  }
}

@media (max-width: 768px) {
  .column {
    flex: 1 1 100%;
    min-width: auto;
  }

  h2 {
    font-size: 14px; /* Smaller font size for smaller screens */
    letter-spacing: 1px; /* Reduced letter spacing */
  }

  p {
    font-size: 18px; /* Smaller font size for paragraphs */
    line-height: 20px;
  }

  .barcode img {
    width: 100px; /* Adjusted for smaller screens */
  }

  .wrapper img {
    margin-top: 16px;
    margin-bottom: 16px;
  }
}

@media (max-width: 480px) {
  body {
    margin: 10px; /* Reduced margin for very small screens */
  }

  .container {
    padding: 0 5px;
  }

  h2 {
    font-size: 12px; /* Even smaller font size for very small screens */
    letter-spacing: 0.5px; /* Further reduced letter spacing */
  }

  p {
    font-size: 16px; /* Smaller font size for paragraphs */
    line-height: 18px;
  }

  .barcode img {
    width: 80px; /* Further adjusted for very small screens */
  }
}

